body,html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4b9b9;
    height: 100%;
    overflow-x: hidden;
  }
  nav {
    height: 100px;
    background-image: linear-gradient(rgb(75, 75, 75),rgb(32, 32, 32));
    display: flex;
    align-items: center;
  }
  #logoimage {    
    width: 60px;
    margin-left: 20px;
    border-radius: 30px;
  }
  .nav-content {
    margin-right: auto;
  }
  nav ul {
    display: flex;
    margin-right: 20px;
    margin-left: 5vh;
  }
  nav ul li {
    margin: 0 18px;
    list-style: none;
  }
  nav ul li a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
  }
  nav ul li a:before {
    position: absolute;
    content:'';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transition: transform .3s linear;
  }
  nav ul li a:hover:before {
    transform: scaleX(1);
  }

  .nav-content ul li:nth-child(5) a:hover {
    color: inherit; 
    background: none;
    color: white; 
}


  .deals-link {
    color: white; 
    background: linear-gradient(45deg, #666666, #000000); 
    border-radius: 20px;
}

  .profileLog {
    margin-right: 20px;
  }
  .profileLog button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .profileLog button img {
    width: 50px;
    height: 50px;
  }
  .notification {
    margin-right: 20px;
  }
  .notification button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .notification button img {
    width: 35px;
    height: 35px;
  }
.c-names{
    text-align: center;
    padding:10px;
    margin-bottom: 15px;
    width: 95%;
}
.other-inputs{
    width: 95%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    background-color: #f5f5f5;
    color: #333;
    appearance: none;
    outline: none;
    margin-bottom: 15px;
}

input:focus{
    border-color: #4CAF50;
}
.formpage{
    padding-left: 10px;
}

.sub-btn{
    text-align: center;
    width: 95%;
}

select {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box; 
    background-color: #f5f5f5;
    color: #333;
    appearance: none;
    outline: none;
    transition: border-color 0.3s;
}
select:focus {
    border-color: #4CAF50;
}
#profileSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
#profileSidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s; 
  }
  #profileSidebar a:hover {
    color: #f1f1f1;
  }
  #profileSidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }



  #notificationSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
#notificationSidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s; 
  }
  #notificationSidebar a:hover {
    color: #f1f1f1;
  }
  #notificationSidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.filter-popup {
  position: absolute;
  background-color: #fff;
  border: 5px solid #ccc;
  padding: 5px;
/*   padding-right:50px; */
}

.hidden {
  display: none;
}
    .view-by{
        margin-left: 90%;
        font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      margin-top: -15px;
      padding: 10px 15px;
      border: none;  
      border-radius: 15px;
    }

input:focus{
    border-color: #4CAF50;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s; 
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position:fixed;
  border-radius: 15px;
}
.open-btn:hover ,.create-deals:hover  {
  background-color: #444;
}    
#main {
  transition: margin-left .5s;
  padding: 16px;  
}
.c-names{
    text-align: center;
     padding:10px;
}



/* Styling the dropdown arrow */
.select-wrapper {
position: relative;
display: inline-block;
}

.select-wrapper:after {
content: "\25BC";
font-size: 12px;
color: #555;
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
pointer-events: none;
}
/* Styling the select element */
.c-names {
appearance: none;
/*   -webkit-appearance: none; */
/*   -moz-appearance: none; */
background-color: #fff;
border: 1px solid #ccc;
padding: 8px;
font-size: 16px;
width: 200px; /* Adjust as needed */
cursor: pointer;
/*   margin-right:30px; */
}

/* Hover effect on select */
.c-names:hover {
border-color: #999;
}

/* Focus effect on select */
.c-names:focus {
border-color: #4CAF50;
outline: none;
}

/* Styling options within the select */
.c-names option {
background-color: #fff;
color: #333;
}

/* Hover effect on options */
.c-names option:hover {
background-color: #f0f0f0;
}

