*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
div{
    font-family: 'Times New Roman';
}
body{
    padding-top: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 10vh;   
}
.bg_color {
    background-image: linear-gradient(rgb(191, 201, 248),rgb(0, 0, 0));
}
h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight:bolder;
    text-shadow: 2px 2px 2px #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-size:medium;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    text-shadow: 2px 2px 8px #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#maincontainer{
    background-color:aliceblue; 
    border: 2px solid black;
    border-radius: 20px;
    max-width: 90%;
    height: 80vh;
    margin-top: auto;
}
#crm_text{
    justify-content: left;
    margin-left: 100px;
    text-align: left;
}
.navbar-brand img {
    max-width: 100px;
    height: auto;
}