*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
div{
    font-family: 'Times New Roman';
}
body{
    padding-top: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 10vh;   
}
.bg_color {
    background-image: linear-gradient(rgb(191, 201, 248),rgb(0, 0, 0));
}
h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight:bolder;
    text-shadow: 2px 2px 2px #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-size:medium;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    text-shadow: 2px 2px 8px #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#maincontainer{
    background-color:aliceblue; 
    border: 2px solid black;
    border-radius: 20px;
    max-width: 90%;
    height: 80vh;
    margin-top: auto;
}
#crm_text{
    justify-content: left;
    margin-left: 100px;
    text-align: left;
}
.navbar-brand img {
    max-width: 100px;
    height: auto;
}


/* body{
    background-image: linear-gradient(blue,rgb(184, 184, 240));
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-box{
    position: relative;
    width: 400px;
    height: 550px;
    border: 2px solid rgba(255,255,2550.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-box h2{
    font-size: 32px;
    color: white;
    width: 100%;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid whitesmoke;
}
.form-box .input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border: none;
    padding: 0px 20px 0px 5px;
    color: #fff;
    font-size: 16px;
}
i{
    position: absolute;
    color: #fff;
    right: 0;
    top: 13px;
}
input::placeholder{
    color: #ffffff;
    
}
.button input{
    width: 100%;
    background-color: blue;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,.5);
}
.group{
    display: flex;
    justify-content: center;
}
.group span a{
    color: #fff;
    position: relative;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 500;
    top: 10px;
}
.group a:focus{
    text-decoration: underline;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .custom-alert-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  #custom-alert-message {
    display: block;
    margin-bottom: 10px;
  }
  
  #custom-alert-okay {
    display: block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #custom-alert-okay:hover {
    background-color: #0056b3;
  }

  */